.text {
  margin: 0;
  white-space: pre-wrap;
  word-break: break-word;
}

.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  white-space: pre-wrap;
}
